CREATE TABLE [dbo].[AssemblyRules_Luleburgas](
	[AssemblyRuleId] [int] IDENTITY(1,1) NOT NULL,
	[AssemblyName] [varchar](255) NOT NULL,
	[RuleName] [varchar](255) NOT NULL,
	[RuleNumericValue] [numeric](18, 0) NULL,
	[RuleStringValue] [varchar](255) NULL,
	[RuleDescription] [varchar](255) NULL,
	[WorkStationId] [int] NULL,
	[UserId] [int] NULL,
	[RoleId] [int] NULL,
	[RuleType] [int] NOT NULL,
	[RuleEnabled] [int] NOT NULL,
	[ContentCode] [nvarchar](50) NULL,
	[ControlType] [nvarchar](max) NULL,
	[RuleGroup] [nvarchar](max) NULL,
	[RuleName_Visible] [nvarchar](max) NULL,
	[DefaultNumericValue] [int] NULL,
	[LookUpStoredProcedure] [nvarchar](max) NULL,
	[LookUpKeyField] [nvarchar](max) NULL,
	[LookUpDescField] [nvarchar](max) NULL,
 CONSTRAINT [PK_AssemblyRules_Luleburgas] PRIMARY KEY CLUSTERED 
(
	[AssemblyRuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AssemblyRules_Luleburgas] ON 

INSERT [dbo].[AssemblyRules_Luleburgas] ([AssemblyRuleId], [AssemblyName], [RuleName], [RuleNumericValue], [RuleStringValue], [RuleDescription], [WorkStationId], [UserId], [RoleId], [RuleType], [RuleEnabled], [ContentCode], [ControlType], [RuleGroup], [RuleName_Visible], [DefaultNumericValue], [LookUpStoredProcedure], [LookUpKeyField], [LookUpDescField]) VALUES (3, N'Create Batch', N'Enable Batch Sheet', CAST(1 AS Numeric(18, 0)), NULL, N'Enables the Generation of Batch Sheets', -1, -1, -1, 0, 1, N'L4A0035', N'Checkbox', N'Configuration', NULL, 1, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[AssemblyRules_Luleburgas] OFF
GO
ALTER TABLE [dbo].[AssemblyRules_Luleburgas] ADD  DEFAULT ((-1)) FOR [WorkStationId]
GO
ALTER TABLE [dbo].[AssemblyRules_Luleburgas] ADD  DEFAULT ((-1)) FOR [UserId]
GO
ALTER TABLE [dbo].[AssemblyRules_Luleburgas] ADD  DEFAULT ((-1)) FOR [RoleId]
GO
ALTER TABLE [dbo].[AssemblyRules_Luleburgas] ADD  DEFAULT ((0)) FOR [RuleType]
GO
ALTER TABLE [dbo].[AssemblyRules_Luleburgas] ADD  DEFAULT ((1)) FOR [RuleEnabled]
GO