/****** Fixing user role for MSC2 ******/

update UserRoleDefinitions set RoleId = 4 where UserId = (select UserId from users where LoginName = 'msc2')

/****** Keeping backups Before proceeding ******/
declare @sql nvarchar(max)
declare @suffix varchar(20)

set @suffix = replace(replace(replace(convert(varchar(19), getdate(), 120), '-', ''), ':', ''), ' ', '_')

set @sql = '
select * into ' + quotename('AuthorizedSystemGroupLinkOptionsRoles_' + @suffix) + ' from AuthorizedSystemGroupLinkOptionsRoles;
select * into ' + quotename('AuthorizedSystemGroupLinkRoles_' + @suffix) + ' from AuthorizedSystemGroupLinkRoles;
select * into ' + quotename('AuthorizedSystemGroupRoles_' + @suffix) + ' from AuthorizedSystemGroupRoles;
select * into ' + quotename('AuthorizedSystemRoles_' + @suffix) + ' from AuthorizedSystemRoles;
select * into ' + quotename('ContentOptionCodes_' + @suffix) + ' from ContentOptionCodes;
select * into ' + quotename('Roles_' + @suffix) + ' from Roles;
select * into ' + quotename('SystemGroupLinks_' + @suffix) + ' from SystemGroupLinks;
select * into ' + quotename('SystemGroups_' + @suffix) + ' from SystemGroups;
select * into ' + quotename('SystemTypes_' + @suffix) + ' from SystemTypes;
'

exec sp_executesql @sql

/****** Deleting affected tables ******/

DROP TABLE AuthorizedSystemGroupLinkOptionsRoles;
DROP TABLE AuthorizedSystemGroupLinkRoles;
DROP TABLE AuthorizedSystemGroupRoles;
DROP TABLE AuthorizedSystemRoles;
DROP TABLE ContentOptionCodes;
DROP TABLE Roles;
DROP TABLE SystemGroupLinks;
DROP TABLE SystemGroups;
DROP TABLE SystemTypes;

GO
/****** Object:  Table [dbo].[AuthorizedSystemGroupLinkOptionsRoles]    Script Date: 4/9/2026 12:38:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorizedSystemGroupLinkOptionsRoles](
	[AuthorizedOptionID] [int] IDENTITY(1,1) NOT NULL,
	[ContentCode] [varchar](50) NULL,
	[RoleID] [int] NULL,
	[OptionCode] [varchar](50) NULL,
 CONSTRAINT [PK_AuthorizedSystemGroupLinkOptionsRoles] PRIMARY KEY CLUSTERED 
(
	[AuthorizedOptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthorizedSystemGroupLinkRoles]    Script Date: 4/9/2026 12:38:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorizedSystemGroupLinkRoles](
	[SystemPageRoleId] [int] IDENTITY(1,1) NOT NULL,
	[SystemLinkId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[OrderNo] [int] NULL,
 CONSTRAINT [PK_AuthorizedSystemPageRoles] PRIMARY KEY CLUSTERED 
(
	[SystemPageRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthorizedSystemGroupRoles]    Script Date: 4/9/2026 12:38:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorizedSystemGroupRoles](
	[SystemGroupRoleId] [int] IDENTITY(1,1) NOT NULL,
	[SystemGroupId] [int] NULL,
	[RoleID] [int] NULL,
	[OrderNo] [int] NULL,
 CONSTRAINT [PK_AuthorizedSystemGroupRoles] PRIMARY KEY CLUSTERED 
(
	[SystemGroupRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthorizedSystemRoles]    Script Date: 4/9/2026 12:38:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorizedSystemRoles](
	[SystemRoleId] [int] IDENTITY(1,1) NOT NULL,
	[SystemTypeId] [int] NULL,
	[RoleID] [int] NULL,
	[OrderNo] [int] NULL,
 CONSTRAINT [PK_AuthorizedSystemRoles] PRIMARY KEY CLUSTERED 
(
	[SystemRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentOptionCodes]    Script Date: 4/9/2026 12:38:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentOptionCodes](
	[ContentCode] [nvarchar](50) NULL,
	[OptionCode] [nvarchar](50) NOT NULL,
	[OptionDescription] [nvarchar](200) NULL,
	[OptionActive] [bit] NULL,
	[AdministratorOnly] [bit] NULL,
	[PrefixDescription] [nvarchar](400) NULL,
 CONSTRAINT [PK_ContentOptionCodes] PRIMARY KEY CLUSTERED 
(
	[OptionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/9/2026 12:38:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[RoleDescription] [nvarchar](250) NULL,
	[UsesTimePunch] [bit] NULL,
	[UniqueID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemGroupLinks]    Script Date: 4/9/2026 12:38:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemGroupLinks](
	[SystemLinkId] [int] IDENTITY(1,1) NOT NULL,
	[LinkTitle] [nvarchar](50) NOT NULL,
	[SystemGroupId] [int] NOT NULL,
	[LinkType] [char](10) NOT NULL,
	[LinkedName] [nvarchar](50) NOT NULL,
	[LinkedAssemblyType] [nvarchar](255) NULL,
	[IsReport] [int] NOT NULL,
	[ReportId] [int] NOT NULL,
	[WebRoute] [nvarchar](250) NULL,
	[ContentCode] [nvarchar](50) NULL,
	[UsesCOMPort] [bit] NULL,
	[DigitalSignageForm] [bit] NULL,
	[ExternalURL] [nvarchar](500) NULL,
	[ContainsCharts] [bit] NULL,
	[EnableDigitalSignature] [bit] NULL,
	[DisableTitle] [bit] NULL,
	[LinkedToModelID] [nvarchar](50) NULL,
	[IsMobileContent] [bit] NULL,
	[EnableSupervisorOverrideAccess] [bit] NULL,
	[SortOrder] [int] NULL,
	[HasKpis] [bit] NULL,
 CONSTRAINT [PK_SystemPages] PRIMARY KEY CLUSTERED 
(
	[SystemLinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemGroups]    Script Date: 4/9/2026 12:38:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemGroups](
	[SystemGroupId] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](50) NOT NULL,
	[GroupTitle] [nvarchar](50) NULL,
	[SystemTypeId] [int] NOT NULL,
	[IconPath] [nvarchar](200) NULL,
	[GroupOrder] [int] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_SystemGroups] PRIMARY KEY CLUSTERED 
(
	[SystemGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemTypes]    Script Date: 4/9/2026 12:38:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemTypes](
	[SystemTypeId] [int] NOT NULL,
	[SystemName] [nvarchar](50) NOT NULL,
	[SystemDescription] [nvarchar](250) NULL,
	[Active] [bit] NULL,
	[SystemImage] [varbinary](max) NULL,
 CONSTRAINT [PK_SystemTypes] PRIMARY KEY CLUSTERED 
(
	[SystemTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuthorizedSystemGroupLinkOptionsRoles] ON 

INSERT [dbo].[AuthorizedSystemGroupLinkOptionsRoles] ([AuthorizedOptionID], [ContentCode], [RoleID], [OptionCode]) VALUES (1, N'5AA4B0DD-9446-4225-B10B-5AE6676B083F', 1, N'5D2134A7-0036-481D-8093-96EA91F6DE21 -1 ')
INSERT [dbo].[AuthorizedSystemGroupLinkOptionsRoles] ([AuthorizedOptionID], [ContentCode], [RoleID], [OptionCode]) VALUES (2, N'5AA4B0DD-9446-4225-B10B-5AE6676B083F', 1, N'5D2134A7-0036-481D-8093-96EA91F6DE21 -3 ')
INSERT [dbo].[AuthorizedSystemGroupLinkOptionsRoles] ([AuthorizedOptionID], [ContentCode], [RoleID], [OptionCode]) VALUES (3, N'FE3DF06C-AF32-44B2-8029-463B921D508B', 1, N'7818BFB6-DAC3-4563-8C71-6250DEEEF4FC -1 ')
GO
SET IDENTITY_INSERT [dbo].[AuthorizedSystemGroupLinkOptionsRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[AuthorizedSystemGroupLinkRoles] ON 

INSERT [dbo].[AuthorizedSystemGroupLinkRoles] ([SystemPageRoleId], [SystemLinkId], [RoleId], [OrderNo]) VALUES (1, 1, 1, 0)
INSERT [dbo].[AuthorizedSystemGroupLinkRoles] ([SystemPageRoleId], [SystemLinkId], [RoleId], [OrderNo]) VALUES (8, 8, 1, 0)
INSERT [dbo].[AuthorizedSystemGroupLinkRoles] ([SystemPageRoleId], [SystemLinkId], [RoleId], [OrderNo]) VALUES (9, 9, 1, 0)
SET IDENTITY_INSERT [dbo].[AuthorizedSystemGroupLinkRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[AuthorizedSystemGroupRoles] ON 

INSERT [dbo].[AuthorizedSystemGroupRoles] ([SystemGroupRoleId], [SystemGroupId], [RoleID], [OrderNo]) VALUES (1, 2, 1, 0)
INSERT [dbo].[AuthorizedSystemGroupRoles] ([SystemGroupRoleId], [SystemGroupId], [RoleID], [OrderNo]) VALUES (2, 3, 1, 0)
INSERT [dbo].[AuthorizedSystemGroupRoles] ([SystemGroupRoleId], [SystemGroupId], [RoleID], [OrderNo]) VALUES (5, 6, 1, 0)
SET IDENTITY_INSERT [dbo].[AuthorizedSystemGroupRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[AuthorizedSystemRoles] ON 

INSERT [dbo].[AuthorizedSystemRoles] ([SystemRoleId], [SystemTypeId], [RoleID], [OrderNo]) VALUES (1, 1008, 1, 0)
INSERT [dbo].[AuthorizedSystemRoles] ([SystemRoleId], [SystemTypeId], [RoleID], [OrderNo]) VALUES (2, 1008, 2, 0)
INSERT [dbo].[AuthorizedSystemRoles] ([SystemRoleId], [SystemTypeId], [RoleID], [OrderNo]) VALUES (3, 1008, 3, 0)
SET IDENTITY_INSERT [dbo].[AuthorizedSystemRoles] OFF
GO
INSERT [dbo].[ContentOptionCodes] ([ContentCode], [OptionCode], [OptionDescription], [OptionActive], [AdministratorOnly], [PrefixDescription]) VALUES (N'CAC3D818-6738-4EA2-9D54-9344F8AC5B78', N'295F1460-726A-4BAD-A319-745890535D76 -1 ', N'Modify', 1, 0, N'D4A Kpi''''''''s Status')
INSERT [dbo].[ContentOptionCodes] ([ContentCode], [OptionCode], [OptionDescription], [OptionActive], [AdministratorOnly], [PrefixDescription]) VALUES (N'CAC3D818-6738-4EA2-9D54-9344F8AC5B78', N'295F1460-726A-4BAD-A319-745890535D76 -3 ', N'Delete', 1, 0, N'D4A Kpi''''''''s Status')
INSERT [dbo].[ContentOptionCodes] ([ContentCode], [OptionCode], [OptionDescription], [OptionActive], [AdministratorOnly], [PrefixDescription]) VALUES (N'5AA4B0DD-9446-4225-B10B-5AE6676B083F', N'5D2134A7-0036-481D-8093-96EA91F6DE21 -1 ', N'Modify', 1, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName], [RoleDescription], [UsesTimePunch], [UniqueID]) VALUES (1, N'Viewer', N'Viewer', 0, N'4589e78b-63c9-43e1-ba28-7d357ba71107')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [RoleDescription], [UsesTimePunch], [UniqueID]) VALUES (2, N'Team Leader', N'Team Leader', 0, N'a2a2a6b9-3bf5-49ea-9cd8-a2d6f1bc806a')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [RoleDescription], [UsesTimePunch], [UniqueID]) VALUES (3, N'Operator', N'Operator', 0, N'2ecd2f97-3bc5-4165-a580-104ea390779e')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemGroupLinks] ON 

INSERT [dbo].[SystemGroupLinks] ([SystemLinkId], [LinkTitle], [SystemGroupId], [LinkType], [LinkedName], [LinkedAssemblyType], [IsReport], [ReportId], [WebRoute], [ContentCode], [UsesCOMPort], [DigitalSignageForm], [ExternalURL], [ContainsCharts], [EnableDigitalSignature], [DisableTitle], [LinkedToModelID], [IsMobileContent], [EnableSupervisorOverrideAccess], [SortOrder], [HasKpis]) VALUES (-7, N'Settings', 1, N'          ', N'', N'', 0, -1, NULL, N'D4A0007', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SystemGroupLinks] ([SystemLinkId], [LinkTitle], [SystemGroupId], [LinkType], [LinkedName], [LinkedAssemblyType], [IsReport], [ReportId], [WebRoute], [ContentCode], [UsesCOMPort], [DigitalSignageForm], [ExternalURL], [ContainsCharts], [EnableDigitalSignature], [DisableTitle], [LinkedToModelID], [IsMobileContent], [EnableSupervisorOverrideAccess], [SortOrder], [HasKpis]) VALUES (-6, N'My Profile', 1, N'          ', N'', N'', 0, -1, NULL, N'D4A0006', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SystemGroupLinks] ([SystemLinkId], [LinkTitle], [SystemGroupId], [LinkType], [LinkedName], [LinkedAssemblyType], [IsReport], [ReportId], [WebRoute], [ContentCode], [UsesCOMPort], [DigitalSignageForm], [ExternalURL], [ContainsCharts], [EnableDigitalSignature], [DisableTitle], [LinkedToModelID], [IsMobileContent], [EnableSupervisorOverrideAccess], [SortOrder], [HasKpis]) VALUES (-5, N'News Feed', 1, N'          ', N'', N'', 0, -1, NULL, N'D4A0008', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[SystemGroupLinks] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemGroups] ON 

INSERT [dbo].[SystemGroups] ([SystemGroupId], [GroupName], [GroupTitle], [SystemTypeId], [IconPath], [GroupOrder], [Active]) VALUES (1, N'System', N'System', 1000, NULL, 0, 1)
INSERT [dbo].[SystemGroups] ([SystemGroupId], [GroupName], [GroupTitle], [SystemTypeId], [IconPath], [GroupOrder], [Active]) VALUES (2, N'Operator Menu', N'Operator Menu', 1008, N'MaintenanceWrench', 1, 1)
INSERT [dbo].[SystemGroups] ([SystemGroupId], [GroupName], [GroupTitle], [SystemTypeId], [IconPath], [GroupOrder], [Active]) VALUES (3, N'RealTimeData', N'Real-Time Data', 1008, N'ChartLine', 2, 1)
SET IDENTITY_INSERT [dbo].[SystemGroups] OFF
GO
INSERT [dbo].[SystemTypes] ([SystemTypeId], [SystemName], [SystemDescription], [Active], [SystemImage]) VALUES (2001, N'ERP4ACTION Desktop', N'ERP4ACTION Desktop', 0, NULL)
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (newid()) FOR [UniqueID]
GO
ALTER TABLE [dbo].[SystemGroupLinks] ADD  DEFAULT ('None') FOR [LinkedAssemblyType]
GO
ALTER TABLE [dbo].[SystemGroupLinks] ADD  DEFAULT ((0)) FOR [IsReport]
GO
ALTER TABLE [dbo].[SystemGroupLinks] ADD  DEFAULT ((-1)) FOR [ReportId]
GO
ALTER TABLE [dbo].[SystemGroupLinks] ADD  DEFAULT ((0)) FOR [UsesCOMPort]
GO
